body {
    background-image:url(/img/fons.png);
    background-size: 1400px 1100px ;  
    background-repeat:repeat;
    
    /* background-position-y: center;
    background-position-x: center ; */
    /* background-size: cover; */
   
}
h1 {
    font-size: 90px;
    margin: auto;
    text-align: center;
    position: relative;
}
.main_text {
    color: rgb(45, 211, 23);
    /* border: 2px solid white; */
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 2px;
}
.main_dubText {
    padding-left: 70px;
    padding-right: 70px;
    font-size: 30px;
    padding-top: 100px;
    color: rgb(151, 241, 123);
    margin: auto;
    text-align: center;
    -webkit-text-stroke-color: rgb(15, 63, 13);
    -webkit-text-stroke-width: 1px;
}
.virs_logo {
    width: 170px;
    position:absolute;
    margin-left: 1300px;
    margin-bottom: 500px;
}

.section-creator__wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.section-creator__button, .section-creator__input  {
    border: 0;
    padding: 10px 20px;
    font-size: 20px;
    width: 200px;
}

.section-creator__input {
    width: 350px;
}
.st_poga {
    width: 500px;
}
.st_poga {
    padding-left: 300px;
}
.moving-plant {
    z-index: 20;
    background-repeat: no-repeat;
    padding-left: 900px;
    background-image:
    url(img/virs_logo.png);
    width: 200px;
    height: 230px;
    transform: rotate(-15deg);
    animation-name: plant-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes plant-move {
    from{transform: translateY(0px)};
    to{transform: translateY(100px)};

}
